* {
	margin: 0;
	outline: none;
}

@media (max-width: 480px) {
	body {
		font-size: 36px;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	body {
		font-size: 30px;
	}
}
@media (min-width: 768px) {

}

#canvas {
	position: fixed;
	top: 0; right: 0;
	width: 600px;
	height: 400px;

	border: 1px solid;
}
#canvas > canvas {
	position: absolute;
}

#side {
	position: fixed;
	z-index: 100;
	top: 0; left: 0;

	width: calc(100% - 600px - 30px);
	height: calc(100% - 30px);
	padding: 15px;

	background: linear-gradient(90deg, silver, transparent);

    overflow-y: auto;
}
#op >e::-webkit-scrollbar { display: none; }
#side {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#op > button {
	position: relative;
    top: -5px;

	margin-right: 10px;
}
#o-register:disabled {
	color: blue;
}

#dat label {
	display: inline-block;
	width: 230px;
}
#dat input {
	position: relative;
}
#dat input[type=range]::after {
    content: attr(data-v)" / ("attr(min)" ~ "attr(max)")";
    position: absolute;
    left: calc(100% + 20px);
    display: block;
    width: 150px;

	color: black;
    text-shadow: 0 0 5px silver;
}

#l-ptss > li > span:first-child {
	display: inline-block;
	width: 200px;
}
#l-ptss > li:nth-child(1) > span:first-child {
	color: yellow;
	text-shadow: 0 0 5px gold;
	font-weight: bold;
}
#l-ptss > li:nth-child(2) > span:first-child {
	color: red;
	font-weight: bold;
}
#l-ptss > li:nth-child(3) > span:first-child {
	color: blue;
	font-weight: bold;
}

#l-ptss > li > span:last-child {
    display: inline-block;
    width: 100px;
}
#l-ptss > li:nth-child(2n)     > span:first-child { background-color: #ffffffaa; }
#l-ptss > li:nth-child(2n)     > span:last-child  { background-color: #c0c0c0aa; }
#l-ptss > li:nth-child(2n + 1) > span:first-child { background-color: #c0c0c0aa; }
#l-ptss > li:nth-child(2n + 1) > span:last-child  { background-color: #ffffffaa; }

#modal {
    position: fixed;
    z-index: 101;
    left: 25%;
    top: 40%;

    display: none;
	justify-content: space-between;
    width: 50%;
    height: 80px;
    padding: 10px;

    border: 1px solid;
    border-radius: 15px;
    background-color: white;
}

#i-register {
	flex-basis: 70%;
	padding: 0 10px;
	font-size: 28px;
}
#o-go {
	flex-basis: 20%;
	font-size: 28px;
}

#about {
	position: fixed;
	z-index: 101;
	bottom: 0;
	width: 100%;
	height: 20px;

	text-align: center;
}

#about a, #about a:visited {
	color: blue;
}

